body {
  width: 1440px;
  height: 2707px;
  padding: 0 0 10px 20px;
  background-image: linear-gradient(#dac3ce 0%, #f9f5f8 57%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li, a {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #000;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
.navigation {
  list-style: none;
}
.navigation li {
  display: inline-block;
  padding: 0px 20px;
}
.navigation li a {
  transition: all 0.3s ease 0s;
}
.navigation li a:hover {
   color: #fff;
}
.Logo {
  background-image: url(../images/Logo.png);
  cursor: pointer;
  margin-right: auto;
}

.heroPageContent {
  display: grid;
}
.heading { 
  width: 672px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.ux {
  width: 672px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.passion {
  font-size: 24px;
  font-weight: normal;
  margin: 10px;
  padding: 10px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  
}
.button {
  width: 269px;
  height: 86px;
  margin: 61px 117px 206px 114px;
  padding: 25px 71px;
  border-radius: 30px;
  border-color: #513a2d;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #513a2d;
  border: none;
}
.button #seeWork {
  width: 127px;
  height: 36px;
  font-family: Rubik;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.heroPageLeft {
  width: 420px;
  height: 421px;
  border-image-source: none;
  margin: 112px 197px 203px 48px;
  background-image: url(../images/memojilight.png);
}
.footer {
  display: inline-block;
  vertical-align: top;
}